@charset "utf-8";

@font-face {
	font-family: proxima-nova;
	src: url('../fonts/proximanova-bold-webfont.ttf') format('truetype')
		, url('../fonts/proximanova-bold-webfont.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: proxima-nova;
	src: url('../fonts/proximanova-boldit-webfont.ttf') format('truetype')
		, url('../fonts/proximanova-boldit-webfont.svg') format('svg');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: proxima-nova;
	src: url('../fonts/proximanova-reg-webfont.ttf') format('truetype')
		, url('../fonts/proximanova-reg-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: proxima-nova;
	src: url('../fonts/proximanova-regit-webfont.ttf') format('truetype')
		, url('../fonts/proximanova-regit-webfont.svg') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: proxima-nova;
	src: url('../fonts/proximanova-sbold-webfont.ttf') format('truetype')
		, url('../fonts/proximanova-sbold-webfont.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}


/**
 *  Eternity Keeper, a Pillars of Eternity save game editor.
 *  Copyright (C) 2015 Kim Mantas
 *
 *  Eternity Keeper is free software: you can redistribute it and/or
 *  modify it under the terms of the GNU General Public License as
 *  published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 *
 *  Eternity Keeper is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */


html, * {
	font-family: proxima-nova, sans-serif;
}

#progress {
	position: fixed;
	top: 47px;
	left: 0;
	width: 100%;
	height: 4px;
	margin: 0;
	padding: 0;
	z-index: 1040; /* Above the navbar but below the modals */
}

#progress div {
	width: 0;
	height: 4px;
	margin: 0;
	padding: 0;
	background-color: #5cb85c;
}

#clones {
	display: none;
}

.clickable {
	cursor: pointer;
}

.navbar-brand {
	cursor: default;
	margin-left: 0 !important;
}

.sidebar {
	position: fixed;
	top: 51px;
	bottom: 0;
	left: 0;
	z-index: 10;
	display: block;
	padding: 10px 0;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #F5F5F5;
	border-right: 1px solid #EEE;
}

.main-panel {
	padding: 70px 30px 10px 30px;
	margin-left: 250px;
}

.sidebar-width {
	width: 250px;
}

.sidebar-padding {
	padding-left: 250px;
}

#error {
	display: none;
}

label[for="savedGameLocation"] {
	margin-right: 20px;
}

input#savedGameLocation {
	width: 400px;
}

button#searchForSavedGames {
	margin-left: 20px;
}

.btn {
	transition: background-color .2s;
}

#searchForSavedGames i
, #saveSettings i
, #saveFile i {
	display: none;
}

.save-blocks {
	margin-top: 30px;
}

.save-info {
	position: relative;
	display: inline-block;
	width: 600px;
	box-shadow: 0 0 2px rgba(0,0,0,.1);
	cursor: pointer;
	border: 1px solid #eee;
	margin-right: 30px;
}

.save-info:hover {
	border-color: #ccc;
}

.save-info > * {
	cursor: pointer;
}

.save-info td {
	padding: 10px;
}

.save-info .name {
	font-weight: bold;
}

.save-info .portraits {
	min-width: 217px;
}

.save-info .date {
	font-size: 10px;
	color: #ccc;
	vertical-align: bottom;
}

.save-info i {
	display: none;
	position: absolute;
	top: 10px;
	right: 10px;
}

ul.characters {
	list-style: none;
	padding: 0;
}

.characters li {
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
}

.characters li i {
	display: none;
}

.characters li.dead i {
	display: inline-block;
}

.characters li:hover
, .characters li.active {
	background-color: #222;
	color: #9d9d9d;
}

.character {
	margin-top: 10px;
	display: none;
}

.character .portrait {
	width: 240px;
	min-height: 330px;
	margin-left: 15px;
}

.character .portrait > div {
	width: 100%;
	height: 330px;
	display: block;
	text-align: center;
	vertical-align: middle;
	font-variant: small-caps;
	font-weight: bold;
	font-size: 24px;
	background-color: #9d9d9d;
	opacity: 0.7;
	color: #333;
	margin-left: -15px;
	line-height: 330px;
}

.character .stats > .row:first-child {
	margin-bottom: 10px;
}

.character .stats .section {
	background-color: #f5f5f5;
	border: 1px solid #eee;
	padding: 20px;
	border-radius: 3px;
	box-shadow: 0 0 2px rgba(0,0,0,.1);
}

.character .stats .section.raw {
	padding: 0;
}

.raw {
	display: none;
}

.raw table {
	border: none;
	margin-bottom: 0;
	border-radius: 3px;
	table-layout: fixed;
}

.raw table td {
	width: 50%;
	word-wrap: break-word;
}

.raw table td div {
	display: block;
	overflow: scroll;
	overflow-y: hidden;
}

.raw table tr:last-child {
	border-bottom: none;
}

.character .stats > .row:first-child {
	margin-bottom: 0;
}

.character .stats .row:first-child .form-group {
	float: left;
}

.character .stats .nav-tabs {
	float: right;
	border-bottom: none;
	margin-bottom: -1px;
}

.character .stats .nav-tabs > li > a {
	border-color: #eee;
	border-radius: 3px;
	border-bottom: none;
}

.character .stats .nav-tabs > li.active a {
	background-color: #f5f5f5;
}

.character .stats .nav-tabs > li > a:hover {
	background-color: #f5f5f5;
}

.character .stats .form-group:last-child {
	margin-bottom: 0;
}

.character .stats input[type="number"] {
	width: 60px;
}

.character .stats input[data-key="OverrideName"] {
	width: 150px;
}

#saveChanges {
	float: right;
}

#checkUpdatesDialog .modal-footer
, #checkUpdatesTryAgain
, #checkUpdatesError
, #checkUpdatesNoUpdates
, #checkUpdatesAvailable
, #checkUpdatesDownload
, #checkUpdatesDownloadFailed
, #checkUpdatesDownloadSuccess {
	display: none;
}

.modal .alert {
	border-radius: 0;
}

ul.multi-selector {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

ul.multi-selector li {
	cursor: pointer;
	padding: 14px 16px;
	width: 100%;
}

ul.multi-selector li:hover {
	background-color: #222;
	color: #9d9d9d;
}

#exportCharacterDialog i
, #exportCharacterDialog .alert {
	display: none;
}

ul.multi-selector i {
	float: right;
}
span.danger {
	color: #a94442;
}
